<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>alexa.cookie.nodejs.restart</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/launchctl</string>
        <string>kickstart</string>
        <string>-k</string>
        <string>system/alexa.cookie.nodejs</string>
    </array>
    <key>StandardOutPath</key>
    <string>/var/log/alexa-cookie-nodejs/restart-stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/alexa-cookie-nodejs/restart-stderr.log</string>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>10</integer>
        <key>Hour</key>
        <integer>00</integer>
    </dict>
</dict>
</plist>